In [0]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

request=requests.get("http://bechdeltest.com/api/v1/getAllMovies")
json=request.json()
bechdel=json_normalize(json)
bechdel.head()

   rating                                   title    id  year   imdbid
0       0                   Roundhay Garden Scene  8040  1888  0392728
1       0                          Pauvre Pierrot  5433  1892  0000003
2       0           Tables Turned on the Gardener  5444  1895  0000014
3       0  Execution of Mary, Queen of Scots, The  6200  1895  0132134
4       0                 House of the Devil, The  4982  1896  0000091

In [0]:
bechdel['tconst'] = 'tt'+bechdel['imdbid']
bechdel.head()

   rating                                   title  ...   imdbid     tconst
0       0                   Roundhay Garden Scene  ...  0392728  tt0392728
1       0                          Pauvre Pierrot  ...  0000003  tt0000003
2       0           Tables Turned on the Gardener  ...  0000014  tt0000014
3       0  Execution of Mary, Queen of Scots, The  ...  0132134  tt0132134
4       0                 House of the Devil, The  ...  0000091  tt0000091

[5 rows x 6 columns]

In [0]:
# Learn how to import data from https://colab.research.google.com/drive/1srw_HFWQ2SMgmWIawucXfusGzrj1_U0q
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

# there will be a prompt for authentication. Follow the link, click yes, and copy the token

# get name of the files in folder
!ls "/content/gdrive/My Drive/Movie_Data"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive
 character_list5.csv   character_mapping.csv   IMDB-Movie-Data.csv  'TSV DATA'

In [0]:
char_path1 = '/content/gdrive/My Drive/Movie_Data/character_mapping.csv'
char_path2 = '/content/gdrive/My Drive/Movie_Data/character_list5.csv'

char_df1 = pd.read_csv(char_path1, encoding='latin-1')
char_df2 = pd.read_csv(char_path2, encoding='latin-1')

In [0]:
char_df = pd.merge(char_df1, char_df2, on='script_id')

In [0]:
char_df=char_df.rename(columns={'imdb_id':'tconst'})

    script_id     tconst character_from_script  ... words gender   age
0         280  tt0112579                 betty  ...   311      f  35.0
1         280  tt0112579                 betty  ...   873      f   NaN
2         280  tt0112579                 betty  ...   138      f   NaN
3         280  tt0112579                 betty  ...  2251      f  46.0
4         280  tt0112579                 betty  ...   190      f  46.0
..        ...        ...                   ...  ...   ...    ...   ...
95        623  tt0179626                 duffy  ...   596      m  46.0
96        623  tt0179626                 duffy  ...   166      f  26.0
97        623  tt0179626                 duffy  ...   139      m  25.0
98        623  tt0179626                 eddie  ...   328      m   NaN
99        623  tt0179626                 eddie  ...   409      f  28.0

[100 rows x 9 columns]

In [0]:
def read_tsv(path_name):
  return pd.read_csv(path_name, sep = '\t')

In [0]:
path_akas = '/content/gdrive/My Drive/Movie_Data/TSV DATA/title.akas.tsv'
df_akas = read_tsv(path_akas)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [0]:
df_akas = df_akas[(df_akas['region'] == 'US')]
df_akas.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [0]:
df_akas=df_akas.rename(columns={'titleId':'tconst'})

In [0]:
df_akas.head()

       tconst  ordering  ...                  attributes isOriginalTitle
3   tt0000001         4  ...                          \N               0
10  tt0000002         6  ...       literal English title               0
23  tt0000005         1  ...                          \N               0
26  tt0000005         4  ...                          \N               0
27  tt0000005         5  ...  informal alternative title               0

[5 rows x 8 columns]

In [0]:
path_basics = '/content/gdrive/My Drive/Movie_Data/TSV DATA/title.basics.tsv'
df_basics = read_tsv(path_basics)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [0]:
df_basics = df_basics[df_basics['titleType'] == 'movie']

In [0]:
df_movies = pd.merge(df_akas, df_basics, on = 'tconst')

In [0]:
df_movies.head()

      tconst  ordering  ... runtimeMinutes                  genres
0  tt0000009         3  ...             45                 Romance
1  tt0000147         1  ...             20  Documentary,News,Sport
2  tt0000630         4  ...             \N                   Drama
3  tt0000679         1  ...            120       Adventure,Fantasy
4  tt0000886         2  ...             \N                   Drama

[5 rows x 16 columns]

In [0]:
# path_crew = '/content/gdrive/My Drive/Movie_Data/TSV DATA/title.crew.tsv'
# df_crew = read_tsv(path_crew)

In [0]:
#df_crew.tail()

            tconst            directors                        writers
6308319  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6308320  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6308321  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6308322  tt9916856           nm10538645                      nm6951431
6308323  tt9916880            nm0996406            nm1482639,nm2586970

In [0]:
# path_pricipals = '/content/gdrive/My Drive/Movie_Data/TSV DATA/title.principals.tsv'
# df_pricipals= read_tsv(path_pricipals)

In [0]:
# df_pricipals.head()

      tconst  ordering  ...                      job   characters
0  tt0000001         1  ...                       \N  ["Herself"]
1  tt0000001         2  ...                       \N           \N
2  tt0000001         3  ...  director of photography           \N
3  tt0000002         1  ...                       \N           \N
4  tt0000002         2  ...                       \N           \N

[5 rows x 6 columns]

In [0]:
path_ratings = '/content/gdrive/My Drive/Movie_Data/TSV DATA/title.ratings.tsv'
df_ratings = read_tsv(path_ratings)

In [0]:
df_ratings

           tconst  averageRating  numVotes
0       tt0000001            5.6      1550
1       tt0000002            6.1       187
2       tt0000003            6.5      1206
3       tt0000004            6.2       114
4       tt0000005            6.1      1933
...           ...            ...       ...
991298  tt9916576            5.9         7
991299  tt9916578            9.1        11
991300  tt9916720            5.1        41
991301  tt9916766            6.7        11
991302  tt9916778            6.9        16

[991303 rows x 3 columns]

In [0]:
df_movies = pd.merge(df_movies, df_ratings, on = 'tconst')

In [0]:
df_movies.head()

      tconst  ordering  ... averageRating numVotes
0  tt0000009         3  ...           5.4       81
1  tt0000147         1  ...           5.1      309
2  tt0000630         4  ...           2.7       10
3  tt0000679         1  ...           4.8       32
4  tt0000886         2  ...           5.2       19

[5 rows x 18 columns]

In [0]:
df_movies.shape

(114144, 18)

In [0]:
df_movies.columns

Index(['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres', 'averageRating', 'numVotes'],
      dtype='object')

In [0]:
df_movies.to_csv('df_movies.csv')
# move to mydrive

In [0]:
df_movies_bechdel = pd.merge(df_movies, bechdel, how = 'left', on = 'tconst')

In [0]:
df_movies_bechdel.head()

      tconst  ordering                         title_x  ...  id year imdbid
0  tt0000009         3                      Miss Jerry  ... NaN  NaN    NaN
1  tt0000147         1   The Corbett-Fitzsimmons Fight  ... NaN  NaN    NaN
2  tt0000630         4                          Hamlet  ... NaN  NaN    NaN
3  tt0000679         1  The Fairylogue and Radio-Plays  ... NaN  NaN    NaN
4  tt0000886         2       Hamlet, Prince of Denmark  ... NaN  NaN    NaN

[5 rows x 23 columns]

In [0]:
df_movies_bechdel[df_movies_bechdel['rating'] == 0]

           tconst  ordering  ...    year   imdbid
456     tt0006864        11  ...  1916.0  0006864
457     tt0006864        18  ...  1916.0  0006864
458     tt0006864         3  ...  1916.0  0006864
459     tt0006864         6  ...  1916.0  0006864
635     tt0008519         7  ...  1917.0  0008519
...           ...       ...  ...     ...      ...
113230  tt7905466         7  ...  2018.0  7905466
113301  tt7984734         4  ...  2019.0  7984734
113322  tt8020896         3  ...  2018.0  8020896
113431  tt8179388        10  ...  2019.0  8179388
113628  tt8499102         2  ...  2019.0  8499102

[858 rows x 23 columns]

In [0]:
df_movies_all = pd.merge(df_movies_bechdel, char_df, how = 'outer', on = 'tconst')

In [0]:
df_movies_all.head()

      tconst  ordering                         title_x  ... words gender age
0  tt0000009       3.0                      Miss Jerry  ...   NaN    NaN NaN
1  tt0000147       1.0   The Corbett-Fitzsimmons Fight  ...   NaN    NaN NaN
2  tt0000630       4.0                          Hamlet  ...   NaN    NaN NaN
3  tt0000679       1.0  The Fairylogue and Radio-Plays  ...   NaN    NaN NaN
4  tt0000886       2.0       Hamlet, Prince of Denmark  ...   NaN    NaN NaN

[5 rows x 31 columns]

In [0]:
df_movies_all[df_movies_all['tconst'] == 'tt0112579']

           tconst  ordering                        title_x  ...   words gender   age
214285  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214286  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214287  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214288  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214289  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214290  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214291  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214292  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214293  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214294  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214295  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214296  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214297  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214298  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214299  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214300  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214301  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214302  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214303  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214304  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214305  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214306  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214307  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214308  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214309  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214310  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214311  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214312  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214313  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214314  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214315  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214316  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214317  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214318  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214319  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214320  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214321  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214322  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214323  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214324  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214325  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214326  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214327  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214328  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214329  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214330  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214331  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214332  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214333  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0
214334  tt0112579       8.0  The Bridges of Madison County  ...   311.0      f  35.0
214335  tt0112579       8.0  The Bridges of Madison County  ...   873.0      f   NaN
214336  tt0112579       8.0  The Bridges of Madison County  ...   138.0      f   NaN
214337  tt0112579       8.0  The Bridges of Madison County  ...  2251.0      f  46.0
214338  tt0112579       8.0  The Bridges of Madison County  ...   190.0      f  46.0
214339  tt0112579       8.0  The Bridges of Madison County  ...   723.0      m  38.0
214340  tt0112579       8.0  The Bridges of Madison County  ...  1908.0      m  65.0

[56 rows x 31 columns]

In [0]:
df_movies_all.to_csv('df_movies_all.csv')
# move to mydrive